@font-face {
  font-family: "iconfont"; /* Project id 1677035 */
  src: url('iconfont.woff2?t=1653642588792') format('woff2'),
       url('iconfont.woff?t=1653642588792') format('woff'),
       url('iconfont.ttf?t=1653642588792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshop:before {
  content: "\e606";
}

.iconshangdian:before {
  content: "\e633";
}

.icongerenxinxi:before {
  content: "\e670";
}

.iconbaojiadan:before {
  content: "\e695";
}

.iconxiaoxi:before {
  content: "\e620";
}

.iconcdr-full:before {
  content: "\e893";
}

.icontianjiaguanggaowei:before {
  content: "\e600";
}

.icontianjia:before {
  content: "\e61f";
}

.iconai-img-list:before {
  content: "\e60e";
}

.iconlist:before {
  content: "\e6a8";
}

.iconshangpinliebiao:before {
  content: "\e615";
}

.iconPhone:before {
  content: "\e660";
}

.iconyaoqingma:before {
  content: "\e64d";
}

.iconmima:before {
  content: "\e611";
}

.iconshowpassword:before {
  content: "\ea3f";
}

.iconicon:before {
  content: "\e654";
}

.icontouxiang:before {
  content: "\e679";
}

.iconyonghuguanli:before {
  content: "\e642";
}

.iconsuo:before {
  content: "\e657";
}

.iconmorentouxiang:before {
  content: "\e8c9";
}

.iconcaidan:before {
  content: "\e63c";
}

.iconicon_quanxianguanli:before {
  content: "\e892";
}

.icondanju-tianchong:before {
  content: "\e62a";
}

.icondingdanguanli:before {
  content: "\e601";
}

.iconyonghuguanli1:before {
  content: "\e643";
}

.iconshouyelunbotu:before {
  content: "\e627";
}

.icontijikongjian:before {
  content: "\e7dc";
}

.iconGoodgoods:before {
  content: "\e665";
}

.iconlock:before {
  content: "\e8fc";
}

.iconziyuanxhdpi:before {
  content: "\e62e";
}

.iconxuanxiangxiayi:before {
  content: "\e655";
}

.iconxuanxiangshangyi:before {
  content: "\e656";
}

.iconxitongshezhi:before {
  content: "\e645";
}

.iconlianjie:before {
  content: "\e6d3";
}

